#Omnet files
*.oppbuildspec
*.settings/*
veinsBDI/src/Makefile
veinsBDI/.settings/language.settings.xml
*.qtenvrc
veinsBDI/.settings/*
# Simulation results
*.vec
*.vci
*.sca
# Java compiled classes
LightJason/target/*
LightJason/out/*

VeinsBDI/src/*_dbg
VeinsBDI/src/*_release

*.idea
veinsBDI/out/
veinsBDI/src/veinsBDI_dbg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
